.AccountContainer
  = render 'devise/shared/header'
  .AccountPage
    .AccountPage__title
      %h2 会員情報入力
    .AccountPage__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|      
        = render "devise/shared/error_messages", resource: @user
        .FormField
          .FormField__label--normal
            = f.label :nickname, 'ニックネーム'
            %span.requiredLabel 必須
          .FormField__input--normal
            = f.text_field :nickname, placeholder: '例）フリマ太郎'
        .FormField
          .FormField__label--normal
            = f.label :email, 'メールアドレス'
            %span.requiredLabel 必須
          .FormField__input--normal
            = f.email_field :email, placeholder: 'PC・携帯どちらでも可'
        .FormField
          - if @sns_id.present?
            = hidden_field_tag :sns_auth, true
          - else
            .FormField__label--normal
              = f.label :password, 'パスワード'
              %span.requiredLabel 必須
            .FormField__input--normal
              = f.password_field :password, placeholder: '7文字以上の半角英数字',  autocomplete: "off"
        .FormField
          - if @sns_id.present?
            = hidden_field_tag :sns_auth, true
          - else
            .FormField__label--normal
              = f.label :password_confirmation, 'パスワード（確認）'
              %span.requiredLabel 必須
            .FormField__input--normal
              = f.password_field :password_confirmation, placeholder: '上記と同じ', autocomplete: "off"
        .FormField
          .FormField__label--normal
            = f.label "お名前（全角）"
            %span.requiredLabel 必須
          .FormField__input--normal.FormField--flex
            = f.text_field :family_name, placeholder: "例)山田"
            = f.text_field :first_name, placeholder: "例)彩"
        .FormField
          .FormField__label--normal
            = f.label "お名前カナ（全角）"
            %span.requiredLabel 必須
          .FormField__input--normal.FormField--flex
            = f.text_field :family_name_kana, placeholder: "例)ヤマダ"
            = f.text_field :first_name_kana, placeholder: "例)アヤ"
        .FormField
          .FormField__label--normal
            = f.label "生年月日"
            %span.requiredLabel 必須
          .FormField__input--normal
            != sprintf(f.date_select(:birthday, prefix:'birthday', with_css_classes:'XXXXX', prompt:"--", use_month_numbers:true, start_year:Time.now.year, end_year:1960, date_separator:'%s'),'年','月')+'日'

        .actions
          = f.submit "新規登録する", class: 'Button UserButton'
          = render "devise/shared/links"
  = render "devise/shared/footer"


