= render partial: "render/header"

.mypage
  .mypage__left
    =render "show"
  .mypage__right
    .mypage__right__top
      .mypage__right__top__name
        = "#{@nickname}のページです"
    .mypage__right__under 
      登録された配送先情報
    - if @user_des.present?
      .mypage__right__under__list
        .mypage__right__under__box
          = "お名前：#{@user_des.destination_family_name}"
          = @user_des.destination_first_name
          = "(#{@user_des.destination_family_name_kana}"
          = "#{@user_des.destination_first_name_kana})"
        .mypage__right__under__box
          = "郵便番号：#{@user_des.post_code}"
        .mypage__right__under__box
          = "都道府県：#{@user_des.prefecture}"
        .mypage__right__under__box
          = "市区町村：#{@user_des.city}"
        .mypage__right__under__box
          ="番地/建物名：#{@user_des.address}#{@user_des.building_name}"
        .mypage__right__under__box
          = "電話番号：#{@user_des.phone_number}"


= render partial: "render/footer"



