= render partial: "render/header"

.mypage
  .mypage__left
    =render "show"
  .mypage__right
    .mypage__right__top
      .mypage__right__top__box
        -if @image.present?
          .mypage__right__top__flame
            = image_tag @image.url, class: "mypage__right__top__image"
        -else
          .mypage__right__top__flame
            %i.fas.fa-user
        .mypage__right__top__name
          = "#{@nickname}のページです"
    .mypage__right__under 
      プロフィール
    .mypage__right__under__list
      .mypage__right__under__box
        .name__space お名前
        %span：
        = @user.family_name
        = @user.first_name
        = "(#{@user.family_name_kana}"
        = "#{@user.first_name_kana})"
      -if @user_des.present?
        .mypage__right__under__box
          .text__space 都道府県
          %span：
          = @user_des.prefecture
      .mypage__right__under__box
        .name__space 誕生日
        %span：
        = "#{@user.birth_month}月"
        = "#{@user.birth_day}日"
      -if @user.introduction.present?
        .mypage__right__under__box
          .text__space 自己紹介
          .introduction= @user.introduction



= render partial: "render/footer"
