.AccountContainer
  = render 'devise/shared/header'
  .AccountPage
    .AccountPage__title
      %h2 ログインページ
    .AccountPage__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .FormField
          .FormField__label--normal
            = f.label :email, 'メールアドレス'
            %span.requiredLabel 必須
          .FormField__input--normal
            = f.email_field :email, placeholder: 'PC・携帯どちらでも可'
          .FormField
            .FormField__label--normal
              = f.label :password, 'パスワード'
              %span.requiredLabel 必須
            .FormField__input--normal
              = f.password_field :password, placeholder: '7文字以上の半角英数字',  autocomplete: "off"
          .actions
            = f.submit "Log in", class: 'Button UserButton'
            -# SNS認証
            .Button.snsButton.snsButton--facebook
              = link_to user_facebook_omniauth_authorize_path, method: :post, class: "snsButton--facebook--btnStyle" do
                %i.fab.fa-facebook-f
                facebookでログイン
            .Button.snsButton.snsButton--google
              = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "snsButton--facebook--btnStyle" do
                %i.fab.fa-google
                Googleでログイン
            = render "devise/shared/links"
  = render "devise/shared/footer"
