.header
  .header__up
    =image_tag "logo/logo.png", class: "header__up__logo"
    %input.login-input-text{placeholder: "キーワードから探す", class: "header__up__field"}
    =image_tag "icon/icon-search 1.png", class: "header__up__search"
  .header__down
    .header__down__left
      .header__down__category 
        カテゴリー
      .header__down__brand 
        ブランド
    .header__down__right
      - if user_signed_in?
        = link_to "マイページ", "/users/#{current_user.id}", method: :get, class: "header__down__button"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__down__button"
      - else
        = link_to "ログイン", new_user_session_path, method: :get, class: "header__down__button"
        = link_to "新規会員登録", new_user_path, method: :get, class: "header__down__button"