%h1 ユーザー認証機能のテスト用
- if user_signed_in?
  = link_to "マイページ", "/users/#{current_user.id}", method: :get, class: 'Button'
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
  .contents.row
    - @items.each do |item|
      .name
        = item.name
        .more
          = link_to '削除', item_path(item.id), method: :delete
- else
  = link_to "ログイン", new_user_session_path, method: :get, class: 'Button'
  = link_to "新規登録", new_user_registration_path, method: :get, class: 'Button'
  .contents.row
    - @items.each do |item|
      .name
        = item.name
        
.content
  - @items.each do |item|
    .content__box
      =image_tag item.item_imgs[0].url, size: "200x250", class: "class__image"
      .content__price
        = item.price
        = item.name
